---
- name: Créer le dossier GLPI
  ansible.builtin.file:
    path: /srv/glpi
    state: directory
    mode: '0755'

- name: Copier les fichiers SQL d'initialisation depuis le rôle Ansible
  ansible.builtin.copy:
    src: docker-entrypoint-initdb.d/
    dest: /srv/glpi/dump/
    mode: '0644'

- name: Déployer le docker-compose.yml
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: /srv/glpi/docker-compose.yml
    mode: '0644'
  register: docker_compose_deployed

- name: Lancer les conteneurs GLPI
  community.docker.docker_compose_v2:
    project_src: /srv/glpi
    state: present
    recreate: "{{ 'always' if docker_compose_deployed.changed else 'never' }}"

- name: Attendre que la base de données soit initialisée
  ansible.builtin.wait_for:
    timeout: 30
  delegate_to: localhost