- name: Renommer le serveur en WinSRV01
  ansible.windows.win_hostname:
    name: WinSRV01
  register: rename_result

- name: Redémarrer si le nom a changé
  ansible.windows.win_reboot:
  when: rename_result.reboot_required

- name: Installer le rôle ADDS
  ansible.windows.win_feature:
    name: AD-Domain-Services
    state: present
    include_management_tools: yes

- name: Définir le fuseau horaire
  ansible.windows.win_timezone:
    timezone: "Romance Standard Time"

- name: Promouvoir le serveur en contrôleur de domaine principal
  microsoft.ad.domain:
    dns_domain_name: "{{ dns_domain }}"
    domain_netbios_name: "GSB"
    safe_mode_password: "{{ admin_pass }}"
    install_dns: true
    forest_mode: "WinThreshold"
    domain_mode: "WinThreshold"
    reboot: true

- name: Attendre que le contrôleur de domaine soit complètement opérationnel
  ansible.builtin.wait_for:
    timeout: 60
  delegate_to: localhost

- name: Créer l'Unité d'Organisation pour les comptes de service
  microsoft.ad.ou:
    name: Comptes_Services
    path: "DC=gsb,DC=local"
    state: present
    protect_from_deletion: true
  register: ou_creation

- name: Créer le compte de service GLPI pour LDAP
  microsoft.ad.user:
    name: glpi_bind
    firstname: GLPI
    surname: Service Account
    upn: glpi_bind@gsb.local
    password: "{{ glpi_ldap_password }}"
    state: present
    path: "OU=Comptes_Services,DC=gsb,DC=local"
    password_never_expires: true
    user_cannot_change_password: true
    enabled: true
    description: "Compte de service pour la synchronisation LDAP de GLPI"
  register: glpi_bind_creation

- name: Créer le compte de service Mail pour LDAP
  microsoft.ad.user:
    name: mail_bind
    firstname: Mail
    surname: Service Account
    upn: mail_bind@gsb.local
    password: "{{ mail_ldap_password | default('Formation13@') }}"
    state: present
    path: "OU=Comptes_Services,DC=gsb,DC=local"
    password_never_expires: true
    user_cannot_change_password: true
    enabled: true
    description: "Compte de service pour l'authentification LDAP du serveur mail"
  register: mail_bind_creation

- name: Créer le compte de service SFTPGO pour LDAP
  microsoft.ad.user:
    name: sftpgo_bind
    firstname: SFTPGO
    surname: Service Account
    upn: sftpgo_bind@gsb.local
    password: "{{ sftpgo_ldap_password | default('Formation13@') }}"
    state: present
    path: "OU=Comptes_Services,DC=gsb,DC=local"
    password_never_expires: true
    user_cannot_change_password: true
    enabled: true
    description: "Compte de service pour l'authentification LDAP de SFTPGO"
  register: sftpgo_bind_creation
