http:
  routers:
{% for router in traefik_routers %}
    {{ router.name }}:
      rule: "Host(`{{ router.host }}`)"
      service: {{ router.service }}
      entryPoints:
        - websecure
      tls: {}
{% endfor %}

  services:
{% for router in traefik_routers %}
    {{ router.service }}:
      loadBalancer:
{% if router.url.startswith('https://') %}
        serversTransport: insecureTransport
{% endif %}
        servers:
          - url: "{{ router.url }}"
{% endfor %}

  serversTransports:
    insecureTransport:
      insecureSkipVerify: true

tls:
  certificates:
    - certFile: /certs/cert.pem
      keyFile: /certs/key.pem
  stores:
    default:
      defaultCertificate:
        certFile: /certs/cert.pem
        keyFile: /certs/key.pem
