http:
  routers:
{% for router in traefik_routers %}
    {{ router.name }}:
      rule: "Host(`{{ router.host }}`)"
      service: {{ router.service }}
      entryPoints:
        - web
{% endfor %}

  services:
{% for router in traefik_routers %}
    {{ router.service }}:
      loadBalancer:
{% if router.url.startswith('https://') %}
        serversTransport: insecureTransport
{% endif %}
        servers:
          - url: "{{ router.url }}"
{% endfor %}

  serversTransports:
    insecureTransport:
      insecureSkipVerify: true
