---
- name: Gestion Active Directory - OU, Groupe et Utilisateurs
  hosts: WinSRV01
  gather_facts: no

  vars_files:
    - ../vars/generated_vars.yml

  tasks:
    - name: Vérifier que les variables sont définies
      ansible.builtin.assert:
        that:
          - ou_name is defined
          - group_name is defined
          - ou_path is defined
          - users is defined
          - users | length > 0
        fail_msg: "Variables manquantes (OU, groupe ou users)."

    - name: Créer l'Unité d'Organisation (OU)
      microsoft.ad.ou:
        name: "{{ ou_name }}"
        path: "{{ ou_path }}"
        state: present

    - name: Créer le groupe dans l'OU
      microsoft.ad.group:
        name: "{{ group_name }}"
        path: "OU={{ ou_name }},{{ ou_path }}"
        scope: global
        category: security
        state: present

    - name: Créer les utilisateurs dans l'OU
      microsoft.ad.user:
        name: "{{ item.username }}"
        sam_account_name: "{{ item.username }}"
        upn: "{{ item.username }}@gsb.local"
        firstname: "{{ item.firstname }}"
        surname: "{{ item.lastname }}"
        email: "{{ item.email }}"
        password: "{{ item.password }}"
        enabled: yes
        path: "OU={{ ou_name }},{{ ou_path }}"
        groups:
          add:
            - "{{ group_name }}"
        update_password: on_create
      loop: "{{ users }}"

    - name: Résumé
      ansible.builtin.debug:
        msg: "{{ users | length }} utilisateur(s) créé(s) dans l'OU '{{ ou_name }}'"
