---
- name: Creer et partager un dossier avec permissions AD
  hosts: WinSRV01
  gather_facts: no

  vars_files:
    - ../vars/generated_vars.yml

  tasks:
    - name: Verifier que les variables sont definies
      ansible.builtin.assert:
        that:
          - folder_name is defined
          - group_name is defined
        fail_msg: "Erreur : Les variables folder_name et group_name doivent etre definies"

    - name: "Creer le dossier sur C:"
      ansible.windows.win_file:
        path: "C:\\{{ folder_name }}"
        state: directory
      register: folder_result

    - name: Afficher la creation du dossier
      ansible.builtin.debug:
        msg: "Dossier 'C:\\{{ folder_name }}' cree avec succes"

    - name: Partager le dossier en reseau
      ansible.windows.win_share:
        name: "{{ folder_name }}"
        path: "C:\\{{ folder_name }}"
        state: present
        full: Administrateur
        change: "{{ group_name }}"
        description: "Partage gere par Ansible"
      register: share_result

    - name: Afficher le resultat du partage
      ansible.builtin.debug:
        msg: "Dossier partage en reseau : \\\\{{ ansible_host }}\\{{ folder_name }}"

    - name: Configurer les permissions NTFS sur le dossier
      ansible.windows.win_acl:
        path: "C:\\{{ folder_name }}"
        user: "{{ group_name }}"
        rights: Modify,Read,Write,Delete,ReadAndExecute,ListDirectory
        type: allow
        state: present
        inherit: ContainerInherit,ObjectInherit
        propagation: None
      register: acl_result

    - name: Afficher le resume des permissions
      ansible.builtin.debug:
        msg: "Permissions de modification accordees au groupe '{{ group_name }}' sur C:\\{{ folder_name }}"
