# General
OVERRIDE_HOSTNAME={{ dockermail_hostname }}.{{ dockermail_domainname }}
LOG_LEVEL={{ log_level }}
TZ={{ timezone }}
ONE_DIR={{ one_dir }}

# Account Provisioning
ACCOUNT_PROVISIONER={{ account_provisioner }}

# LDAP Configuration
LDAP_ENABLED={{ '1' if ldap_enabled else '0' }}
LDAP_SERVER_HOST={{ ldap_server_host }}
LDAP_SEARCH_BASE={{ ldap_search_base }}
LDAP_BIND_DN={{ ldap_bind_dn }}
LDAP_BIND_PW={{ ldap_bind_password }}
LDAP_START_TLS={{ ldap_start_tls }}

# LDAP Query Filters
LDAP_QUERY_FILTER_USER={{ ldap_query_filter_user }}
LDAP_QUERY_FILTER_GROUP={{ ldap_query_filter_group }}
LDAP_QUERY_FILTER_ALIAS={{ ldap_query_filter_alias }}
LDAP_QUERY_FILTER_DOMAIN={{ ldap_query_filter_domain }}

# Dovecot LDAP Settings (pour Active Directory)
DOVECOT_TLS=no
DOVECOT_USER_FILTER=(&(objectClass=user)(mail=%u))
DOVECOT_PASS_FILTER=(&(objectClass=user)(mail=%u))
DOVECOT_USER_ATTRS==uid=5000,=gid=5000,=home=/var/mail/%Ln,=mail=maildir:~/Maildir
DOVECOT_AUTH_BIND=yes

# SASLAUTHD (pour SMTP AUTH via LDAP)
ENABLE_SASLAUTHD=1
SASLAUTHD_MECHANISMS=ldap
SASLAUTHD_LDAP_SERVER={{ ldap_server_host }}
SASLAUTHD_LDAP_BIND_DN={{ ldap_bind_dn }}
SASLAUTHD_LDAP_PASSWORD={{ ldap_bind_password }}
SASLAUTHD_LDAP_SEARCH_BASE={{ ldap_search_base }}
SASLAUTHD_LDAP_FILTER=(&(objectClass=user)(|(mail=%u)(userPrincipalName=%u)(sAMAccountName=%U)))
SASLAUTHD_LDAP_START_TLS=no
SASLAUTHD_LDAP_AUTH_METHOD=bind

# SSL/TLS
{% if ssl_type %}
SSL_TYPE={{ ssl_type }}
{% endif %}

# Spoof Protection
SPOOF_PROTECTION={{ spoof_protection }}

# Postfix settings for local network
PERMIT_DOCKER=network
NETWORK_INTERFACE=eth0

# Disable some features for local use
ENABLE_CLAMAV=0
ENABLE_SPAMASSASSIN=0
ENABLE_FAIL2BAN=0
ENABLE_AMAVIS=0
