- name: Wait for connect 
  hosts: linuxs
  gather_facts: no
  tags: connect
  tasks:
    - name: Wait for SSH to be available
      ansible.builtin.wait_for:
        delay: 5
        timeout: 10

- name: Update 
  hosts: linuxs
  become: yes
  tags: 
    - update
    - docker 
  roles: 
    - roles/MAJ  

- name: Install Docker
  become: yes
  tags: docker
  hosts: linuxs !ProxmoxBackup
  roles:
    - roles/Install_Docker

- name : Install AdGuard
  become: yes
  hosts: Adguard
  roles:
    - roles/Adguard

- name : Install GLPI et Pulse
  become: yes
  hosts: Stack-App
  roles:
    - roles/GLPI
    - roles/Pulse

- name: Install Dockermail 
  become: yes
  hosts: Dockermail
  roles:
    - roles/Dockermail
    - roles/Roundcube

- name: Install SFTPGO
  become: yes
  hosts: SFTPGO
  roles:
    - roles/SFTPGO

- name: Install Treafik
  become: yes
  hosts: Stack-Web
  roles:
    - roles/Traefik

- name: Install Proxmox Backup Server
  become: yes
  hosts: ProxmoxBackup
  roles:
    - roles/ProxmoxBackup

- name: Add PBS storage to PVE
  hosts: localhost
  connection: local
  tags: add_pbs
  roles:
    - roles/ProxmoxAddPBS

- name: Install Nexcloud
  become: yes
  hosts: Nextcloud
  tags: nextcloud
  roles:
    - roles/Nextcloud

- name : Install Pulse Agents
  become: yes
  hosts: linuxs
  vars:
    pulse_agent_enable_docker: true
  roles:
    - roles/Pulse_Agent