#SPDX-License-Identifier: MIT-0
---
# defaults file for ProxmoxAddPBS

# PVE API Configuration (récupérées depuis les variables d'environnement Terraform)
# L'URL est au format https://IP:8006/api2/json, on extrait juste l'IP
pve_api_host: "{{ lookup('env', 'TF_VAR_proxmox_api_url') | regex_replace('^https?://([^:/]+).*', '\\1') }}"
pve_api_user: "{{ lookup('env', 'TF_VAR_proxmox_api_token_id').split('!')[0] }}"
pve_api_token_id: "{{ lookup('env', 'TF_VAR_proxmox_api_token_id').split('!')[1] }}"
pve_api_token_secret: "{{ lookup('env', 'TF_VAR_proxmox_api_token') }}"
pve_api_token_nodes: "{{ lookup('env', 'TF_VAR_proxmox_node_names').split(',') }}"
# PBS Configuration
pbs_storage_name: "pbs-backup"
pbs_server: "172.16.31.1"
pbs_datastore: "backup"
pbs_username: "root@pam"
pbs_password: "Formation13@"
# pbs_fingerprint est défini par set_fact dans le rôle ProxmoxBackup

# Content types
pbs_content:
  - backup
